html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    aspect-ratio: 428/926;
}
html {
    width: 100%;
    display: flex;
    justify-content: center;
}
body {
    border-radius: 5%;
    border: 1px solid gray;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}